html{
    background-color: rgb(207, 160, 146);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 10;
    padding: 20;

}

body{
    margin: 10;
    padding: 10;
    box-sizing: content-box;
    background-color: rgb(207, 160, 146);
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);

}
h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10;
    padding: 10;
}

.container {
    width: 80vw;
    margin: 5vh auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

}

.searched{
    color: White;
    background-color: darkgreen;
    font-weight: bold;
    
}

.heading {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: rgb(94, 54, 2);
}

main table tr:hover{
    background-color: White;
}
main table tr.searched:hover{
    background-color: rgb(0, 148, 0);
}

#search {
    margin: 1rem 1rem 1rem auto;
    line-height: 2rem;
    font-size: 1.4rem;
    width: 20rem;
    padding: 0.5rem;
    border: 1px solid rgb(94, 54, 2);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(94, 54, 2);
    align-content: center;
    padding: 20px;
    margin: 10px;
}

table {
    font-family: "Times New Roman", Times, serif ;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    margin: 10px;
    padding: 10px;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    table-layout: fixed;

}


.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    padding-left: 100px;

}

.button {
    font-size: 1.2rem;
    margin-left: 1rem;
    color: white;
    background-color: rgb(8, 28, 179);
    padding-left: 100px;
}
