/* 
    Assignment 6
    Name: - Rishi Patel
    Student Id: - 0793722
    Date: - 2022-11-2
*/

html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 136, 136);
}

h3{
    font-size: 1.8em;
    color: white;
    font-family: 'Kanit', sans-serif;

}

h2{
    font-family: 'Island Moments', cursive;
    font-size: 3em;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-size: 3.5em;
}
p{
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
}

/*Tab List*/
.tab-list {
    display: block;
}
.tab-list li {
    display: inline-block;
    background-color: white;
    padding: 7px;
    margin-left: 1.25%;
}
.tab-panel {
    display:none;
    background-color: white;
}
.tab-panel.active {
    display: block;
}

.tab-panel {
    margin-top: -1.5%;
    overflow: hidden;
}
dt{
    font-weight: bold;
    text-align: left;
}
dd {
    text-align: left;
}

/* Body */
header{
    text-align: center;
    background-color: rgb(240, 136, 136);
}

.wrapper {
    background-color: rgb(243, 208, 161);
    width: 75%;
    margin: 5% auto;
    box-shadow: black 2px 2px 8px 2px;
    text-align: center;
}
section {
    border: 2px solid black;
}

/* Accordion */

article p {
    text-align: justify;
    font-size: 1.25vw;
    line-height: 1.15em;
    padding: 10px
}

img {
    margin: 0 2% 1% 2%;
    width: 25%;
    float: left;
    box-shadow: black 2px 2px 8px 2px;
}
ul {
    list-style-type: none;
}
li{
    margin-top: 1%;
}
table {
    margin: 1% auto;
    width: 75%;
}
th{
    text-align: left;
}
td{
    background-color: rgb(210, 235, 100);
    border: 1px solid rgb(235, 17, 17);
}

.accordion, .accordion2{
    width:70%;
    margin:0 auto;
    margin-bottom: 2%;
}

.accordion h1, .accordion2 h1{
    font-size:2vw;
    font-weight: bold;
    text-align: center;
    background-color:rgb(79, 104, 230);
    padding-top: 7px;
    padding-bottom: 7px;
    border:3px solid rgb(0, 0, 0);
    border-radius:3px;
}
.accordion h1:hover, .accordion2 h1:hover{
    cursor:pointer;
}

.noFloat{
    float: none;
}

/* Accordion*/
.accordion div, .accordion2 div{
    display: none;
    padding: 10px;
    line-height:20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}
.accordion-content article {
    margin-bottom: 2%;
}

